.image {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    border-color: #28363D;
    border-radius: 8px;
    border-style: solid;
    border-width:1px;
}

h1, h2, p, a {
    font-family: monospace;
    color: #DEE1DD;
}

h3, h4 {
    font-family: monospace;
    color: #DEE1DD;
    text-align: left;
}

body {
    background-color: #55787e;
    text-align: center;
}

ul, ol {
    text-align:left;
    font-family: monospace;
    color: #C4CDC1;
}

.link {
    color: #C4CDC1;
    line-height: 25px;
}
